{% extends "layout.html" %}

{% block content %}
    <h2>
        {{ artist }}
    </h2>
    {% if songs %}
        <ul>
            {% for song in songs %}
                <li>
                    <a href="/song/{{ song.pk }}/">{{ song.path }}</a>
                </li>
            {% endfor %}
        </ul>
        <p>
            <form method="GET" action="{{ url_for('download') }}">
                <button>Download</button>
            </form>
            or
            <form method="GET" action="{{ url_for('download') }}">
                <button>Listen</button>
            </form>
            to this songs.
        </p>
    {% else %}
        <p>
            You've got no songs for this artist. Sorry.
        </p>
    {% endif %}
{% endblock %}
