# -*- coding: utf-8 -*-
SECRET_KEY = ''  # Set this to something secret.
MEDIA_DIRS = (
    # Examples
    # MediaDir(root='/srv/http', dirs=('/music',), url='http://127.0.0.1/'),
    # MediaDir('/home/fatmike/music/shiva'),
)
# Here you can redefine anything you set in your settings.project file, like
# the database URI.
