<!DOCTYPE html>
<html>
    <head>
        <title>Shiva</title>
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script src="http://backbonejs.org/backbone-min.js"></script>
        <script src="https://developer.cdn.mozilla.net/media/uploads/demos/j/a/jaysalvat/e5637f87fabed24b9720611b5c17317f/buzz-html5-audio-dem_1334828480_demo_package/js/buzz.js"></script>

        <script>
            Shiva = {};
        </script>
        <script src="/static/shiva.js"></script>
    </head>

    <body>
    </body>
</html>
