<!DOCTYPE html>
<html>
    <head>
        <title>Shiva</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
        <script src="https://developer.cdn.mozilla.net/media/uploads/demos/j/a/jaysalvat/e5637f87fabed24b9720611b5c17317f/buzz-html5-audio-dem_1334828480_demo_package/js/buzz.js"></script>

        <script src="/static/shiva.js"></script>
        <script>
            $(document).ready(function() {
                Shiva.App = Backbone.View.extend({
                    artists: new Shiva.ArtistList(),
                    initialize: function(server_url) {
                        Shiva.Audio.prototype.server_url = server_url;
                        Shiva.Collection.prototype.server_url = server_url;

                        this.artists.fetch({'success': function() {
                            this.router = new Shiva.Routes(this);
                            Backbone.history.start();
                        }});
                    },
                    renderArtists: function() {
                        this.artists.each(function (el) {
                            artist = new Shiva.ArtistView({
                                model: el,
                                id: el.get('hash')
                            });
                            $('#artists').append(artist.render());
                        });
                    }
                });

                app = new Shiva.App('/api');
            });
        </script>
    </head>

    <body>
        <h1>
            Shiva
        </h1>
        <div id="content">
        </div>
    </body>
</html>
