# -*- coding: utf-8 -*-
from shiva.media import MediaDir, MimeType

SERVER_URI = ''
SECRET_KEY = ''  # Set this to something secret.

# Require validation to access Shiva.
ALLOW_ANONYMOUS_ACCESS = False

MEDIA_DIRS = (
    # Examples.
    # MediaDir(root='/srv/http', dirs=('/music',), url='http://127.0.0.1/'),
    # MediaDir('/home/fatmike/music/shiva'),
    # If in doubt, read the source.
    # ShivaDir('https://192.168.6.1:8000', key='i8sdu90c009823a9s9800e0e08'),
)

# The path where uploaded files will be stored.
UPLOAD_PATH = ''

# These are the default mimetypes. Add your own here.
# MIMETYPES = (
#     MimeType(type='audio', subtype='mp3', extension='mp3',
#              acodec='libmp3lame'),
#     MimeType(type='audio', subtype='ogg', extension='ogg',
#              acodec='libvorbis'),
# )

LASTFM_API_KEY = ''
METROLYRICS_API_KEY = ''
BANDSINTOWN_APP_ID = 'SHIVA_APP_ID'

SCRAPERS = {
    'lyrics': (
        'azlyrics.AZLyrics',
        'metrolyrics.MetroLyrics',
        'letrascanciones.MP3Lyrics',
    ),
}

# Here you can redefine anything you set in your settings.project file, like
# the database URI.
